
body{
    font-size: 30px;
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 500px;
}

.userpass {
    
    margin-left: auto;
    margin-right: auto;
    width:30%;
    border: solid, black;
    border-radius: 25px;
    padding:10px;
    background-color: whitesmoke;
    transition: background-color 0.5s, color 0.1s;
   
}

.userpass label{
    font-size: 25px;
    margin-left: 10%;   
}

.userpass input{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 25px;
}

.createAccount{
    text-align: center;
    margin-top: 10px;
}


input[type = "submit"]{
    border:black;
    border-style: inset;
    border-radius: 25px;
    background-color: lightblue;
    margin-top: 10px;
    padding: 5px;
    width: 150px;
    cursor:pointer;
}

button{
    position: center;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ddd;
}

.button_icon {
    margin-left: 10px;
}

.dark-mode{
    background-color: rgb(36, 44, 50);
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .userpass{
    background-color: rgb(36, 44, 50);
    border: solid, whitesmoke;
}

.dark-mode button {
    background-color: #333;
    color: white;
}
.dark-mode button:hover {
    background-color: #444444; 
}

.homeLink{
    font-size: 15px;
    text-align: center;
}








