.google-map {
    padding-bottom: 57%;
    position: relative;
}

.google-map iframe {
    height: 75%;
    width: 85%;
    left: 0;
    top: 0;
    position: absolute;
}

.banner {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.banner .picture-placeholder {
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50%;
}

.banner .username {
    font-size: 20px;
}

.side-buttons {
    position: fixed; 
    right: 8px;        
    top: 88px; 
    display: flex;
    flex-direction: column;
    height: 700px;
}

.side-buttons button {
    height: 150px;
    width: 220px;
    padding: 10px;
    margin-bottom: 9px;
    font-size: 16px;
    cursor: pointer;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

body {
    overflow: hidden;
}
