body {
    font-family: Arial, sans-serif;
}

.risk-level {
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
}

.high-risk {
    background-color: red;
}

.medium-risk {
    background-color: orange;
}

.low-risk {
    background-color: yellow;
    color: black;
}

.safe {
    background-color: green;
}

#predictionOutput {
    text-align: center;
    margin-top: 20px;
}

