
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    box-sizing: border-box;
}

.center {
    text-align: center;
    margin-top: 50px;
}
.dark-button{
    position:relative;
    cursor: pointer;
    color: white; 
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
    width:max-content;
    color: black;
    margin-top: 0;
}

.banner {
    width: 100%;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .helloName {
    font-size: 18px;
    color: white;
  }

  .banner-back {
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Space inside the rectangle */
    display: flex;
    align-items: center;
    height: 70%; /* Adjust the height relative to the banner */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for effect */
  }

.banner-back img {
    height: 60px;
    max-width: 100%;
    object-fit: contain;
    z-index:2;
  }

  .user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
  }

.banner-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .left-banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    gap: 0px; /* Reduce space between elements */
    margin: 0; /* Ensure no extra margin */
    padding: 0; /* Ensure no extra padding */
}

  .about-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 0;
  }

  .about-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

.content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.side-buttons.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    height: 700px;
    padding: 10px;
    
}

.side-buttons.left button {
    height: 20%;
    width: 90%;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(244, 144, 12, 1);
    border-radius: 5px;
    border: none;
    position: static;
}


.side-buttons.right {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 20%; 
    height: 700px;
    padding: 10px;
    
}

.side-buttons.right button {
    height: 20%;
    width: 90%;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(244, 144, 12, 1);
    border-radius: 5px;
    border: none;
    position: static;
}

.account-info {
    width: 60%;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    justify-items: center;
    border: 1px solid whitesmoke;
    border-radius:5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 72vh;
}


.popUp {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popUp-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    border: 3px solid orange;
    border-radius: 20px;
    text-align: center;
    align-items:center;
    justify-items:center;
    height:400px;
}

.popUp-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.popUp-content button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    align-self: center;
   /* margin-top: 20px;*/
    position: relative;
    text-align: center;
    top: 30px;
}

.popUp-content .warning {
    color: red;
    font-weight: bold;
}

.dark-mode{
    background-color: rgb(36, 44, 50);
    color: whitesmoke;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .popUp-content {
    background-color: rgb(36, 44, 50);;
    margin: 15% auto;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
}
.dark-mode h1 {
    color: whitesmoke; 
}

.dark-button:hover {
    background-color: #ddd;
}
.dark-mode .dark-button {
    background-color: #333;
    color: white;
}

.dark-mode .dark-button:hover {
    background-color: #444444;
}

.dark-mode .side-buttons button{
    background-color: rgb(204, 121, 12);
    color: white;
    box-shadow:0 0 5px rgb(138, 138, 138);
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .sidebar{
    background-color: #0f0f0f;
}
