
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

.center {
    text-align: center;
    margin-top: 50px;
}
.dark-button{
   
    margin-right: 10px;
    margin-top: 37px;
    cursor: pointer;
    color: white; 
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    border-radius: 5px;
    font-size: 12px;
    width:fit-content;
    color: black;
}

.banner{
width: 100%;
height : 90px; 
background-color: black;
color: White;
text-align: center;
z-index: 1; 

}

.helloName{
position: absolute; 
margin-top: 35px; 
right: 80px; 
font-size: 20px; 
color: white;

}

.banner-back{
background-color: white;
z-index: 2;
position: absolute;
float: left; 
width: 28%;
height: 70px; 
margin-top: 10px;
margin-left: 15px;
border-radius: 5px;
display: flex;
}

.banner img {
float: left;
width: 400px; 
height: 60px;
padding: 5px;
z-index: 3;
max-width: 95%;
}

.user-icon {
float: right;
margin-top: 20px;
margin-right: 10px;
width: 50px; 
height: 50px;
}

.about-link {
float: right;
margin-right: 180px;
margin-top: 37px;
color: white;
border: none;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.5s, color 0.5s;
font-size: 12px;
width: fit-content;
font-size: 16px; 
}

.content {
    
    justify-content: space-between;
    padding: 10px;
}

.side-buttons {
    
    justify-content: center;
    align-items:center;
    width:20%;
    height: 700px;
}

.side-buttons button {
    height: 200px;
    width: 95%;  
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight:bold;
    cursor: pointer;
    background-color:rgba(244, 144, 12, 1);
    border-radius: 5px;
    border:none;
}

.account-info {
    width: 60%;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    justify-items: center;
    border: 1px solid whitesmoke;
    border-radius:5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.popUp {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popUp-content {
    background-color: white;
    margin: 15%;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
    border: 3px solid orange;
    border-radius: 20px;
}

.popUp-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.popUp-content button {
    padding: 10px 20px;
    cursor: pointer;
}

.popUp-content .warning {
    color: red;
    font-weight: bold;
}

.dark-mode{
    background-color: rgb(36, 44, 50);
    color: whitesmoke;
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .popUp-content {
    background-color: rgb(36, 44, 50);;
    margin: 15%;
    padding: 20px;
    width: 400px;
    border-radius: 5px;
}
.dark-mode h1 {
    color: whitesmoke; 
}

.dark-button:hover {
    background-color: #ddd;
}
.dark-mode .dark-button {
    background-color: #333;
    color: white;
}

.dark-mode .dark-button:hover {
    background-color: #444444;
}

.dark-mode .side-buttons button{
    background-color: rgb(204, 121, 12);
    color: white;
    box-shadow:0 0 5px rgb(138, 138, 138);
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .sidebar{
    background-color: #0f0f0f;
}
