/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  color: black;
  background-color: whitesmoke;
  font-family: 'Helvetica', sans-serif;
  text-align: left;
  font-size: 14px;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  margin-top: 70px;
  margin-bottom: 65px;
}

h1 {
  margin-bottom: 0px;
}

h2 {
  margin-bottom: 0px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.links-container {
  display: flex;
  justify-content: left;
  gap: 20px;
}

.links-container h3 {
  margin-bottom: 0px;
  font-weight: bold;
}

.links-container a {
  font-weight: bold;
  color: rgba(244, 144, 12, 1);
  font-size: smaller;
}

.links-container p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.guest-link {
  font-weight: bold;
  color: rgba(244, 144, 12, 1);
  font-size: smaller;
}

.about-link {
  font-weight: bold;
  color: rgba(244, 144, 12, 1);
  font-size: smaller;
}
.button-link {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #FF5722; 
  color: white;
  border-radius: 5px;
  
  text-align: center;
}
.login-form, .register-form {
  margin: 50px auto;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.login-form h2, .register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}
.login-form form, .register-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #ddd;
}

.button_icon {
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.dark-mode {
  background-color: rgb(36, 44, 50);
  color: whitesmoke;
  font-family: Helvetica, sans-serif;
  transition: background-color 0.5s, color 0.5s;
}

.dark-mode h1,
.dark-mode h2,
.dark-mode p {
  color: whitesmoke;
}

.dark-mode a {
  color: rgb(204, 121, 12);
}

.dark-mode button {
  background-color: #333;
  color: white;
}

.dark-mode button:hover {
  background-color: #444444;
}

.video {
  position: fixed;
  right: 15%;
  top: 57.3%;
  transform: translateY(-50%);
  width: 500px;
  height: 300px;
  overflow: hidden; 
  box-sizing: border-box; 
}

.video video {
  position: fixed;
  all: unset; 
  width: 100%;
  height: 100%;
  border: 2px solid #333;
  display: block; 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 0;
}

.container {
  margin: 20px 0;
  width: 30%;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 15px;
  background-color: #f4f4f4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: background-color 0.5s, color 0.1s;
  position: fixed;
  left: 15%;
  top: 35%;
}

.container h1 {
  font-size: 45px;
  color: #333;
}

.container h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: 20px;
}

.account-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.account-options div {
  padding: 0px;
}

.account-options h3 {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  font-size: medium;
}

.container a {
  font-weight: bold;
  font-size: medium;
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.container a:hover {
  color: black;
}

.container p {
  margin: 0;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(70, 70, 70);
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
}

.navbar li {
  font-size: 16px;
}

.navbar a {
  color: orange;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: rgba(244, 144, 12, 1);
}

.content-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
}

.dark-mode .container , .dark-mode .video video{
  background-color: rgb(40, 40, 40);
  border: 2px solid orange;
  color: whitesmoke;
}

.dark-mode .container a {
  color: white;
}

.dark-mode .container h3 {
  color: whitesmoke;
}

.dark-mode .container h2 {
  color: whitesmoke;
}

.dark-mode .container h1 {
  color: whitesmoke;
}

.orange-text {
  color: orange;
}

.dark-mode .navbar {
  background-color: #333;
}
button.dark-mode-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000; 
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 25px;
  background-color: rgba(244, 144, 12, 1);
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-link:hover {
  background-color: rgb(204, 121, 12);
  color: black;
}

.dark-mode .button-link {
  background-color: rgba(244, 144, 12, 1);
  color: white;
}

.dark-mode .button-link:hover {
  background-color: rgb(204, 121, 12);
  color: whitesmoke;
}
