/* General Styling */
body {
  font-family: "Helvetica", sans-serif;
  color: black;
  background-color: white;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: rgb(36, 44, 50);
  color: whitesmoke;
}

/* Main Layout */
.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Map Section */
#map {
  flex: 3;
  height: 75vh;
  border: 1px solid #ddd;
}

/* Styles for the legend */
.info.legend {
  background-color: white; /* Solid white background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Style for each legend item (circle and label) */
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* Circle style next to the text */
.legend-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Optional: Styling for the legend text */
.info.legend span {
  font-size: 14px;
  color: #333;
}

/* Side Container */
.side-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Buttons and Filters */
.side-container button {
  padding: 10px 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(244, 144, 12, 1);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  
}

.side-container button:hover {
  background-color: rgb(204, 121, 12);
}

.filters-container,
.date-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters-container .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.date-container label {
  margin-right: 5px;
}

/* Search Section */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  width: 25vh;
  padding: 5px;
  font-size: 16px;
}

.search-button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: rgba(244, 144, 12, 1);
  border: none;
  border-radius: 5px;
}

.dark-mode .legend-item{
  color:black;
}

.dark-mode .search-button{
  background-color: rgba(244, 144, 12, 1);
}
