/* General Styling */
body {
  font-family: "Helvetica", sans-serif;
  color: black;
  background-color: white;
  transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
  background-color: rgb(36, 44, 50);
  color: whitesmoke;
}

/* Main Layout */
.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-direction: row;
}

/* Map Section */
#map {
  flex: 3;
  height: 75vh;
  border: 1px solid #ddd;
}

.map-container {
  width: 80%; /* Set the map to take 80% of the container width */
  margin: auto; /* Center the map within its container */
}

/*Legend Section*/
.legend {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: rgb(255, 255, 255); /* Semi-transparent background */
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  z-index:1000;
  color:black;
}

.legend h4 {
  margin: 0 0 10px 0;
  font-weight: bold;
}

.legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend li {
  display: flex;
  align-items: center; /* Aligns the circle and text vertically */
  margin-bottom: 5px;
}

.legend-circle {
  display: inline-block;
  width: 15px; /* Adjust size for smaller or larger circles */
  height: 15px; /* Adjust size for smaller or larger circles */
  border-radius: 50%; /* Makes the shape circular */
  margin-right: 8px; /* Spacing between circle and text */
}


/*Styling for the retrieved information*/
.info-block {
  margin-left:10px;
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  
}

/* Side Container */
.side-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Buttons and Filters */
.side-container button {
  padding: 10px 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(244, 144, 12, 1);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-top: 10px;
  
}

.side-container button:hover {
  background-color: rgb(204, 121, 12);
}

.filters-container,
.date-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters-container .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.date-container label {
  margin-right: 5px;
}

/* Search Section */
.search-container {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  width: 25vh;
  padding: 5px;
  font-size: 16px;
}

.search-button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: rgba(244, 144, 12, 1);
  border: none;
  border-radius: 5px;
}

.dark-mode .legend-item{
  color:black;
}

.dark-mode .search-button{
  background-color: rgba(244, 144, 12, 1);
}

#saveLocationBtn{
  font-size: 16px;
  padding: 5px 10px;
  background-color: rgba(244, 144, 12, 1);
  border: none;
  border-radius: 5px;
}

.dark-mode #saveLocationBtn:hover , .dark-mode .search-button:hover{
  background-color: rgb(204, 121, 12);
}

#saveLocationBtn:hover , .search-button:hover{
  background-color: rgb(204, 121, 12);
}